# 0) chargement de spark

In [58]:
from pyspark.sql import SparkSession

#sans se connecter au cluster
#spark = SparkSession.builder.getOrCreate()

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "2g").\
        getOrCreate()

# 1) lire de la donnée

## 1.1) lecture brute
Chargez le fichier ville_1.csv dans une variable nommée df.

Vous pouvez afficher votre donnée en utilisant la méthode take() ou la methode collect() de l'objet pyspark DataFrame (attention appeler collect() sur un dataframe est déconseillé si vous avez du vrai big data).

L'objet possède aussi un attribut appelé dtypes, appelez cet attribut pour obtenir la liste des colonnes et leur type.

In [98]:
path = "hdfs://namenode:9000/Bigdata/covid.csv"
test= spark.read.format('csv').options(header= True , sep=";").load(path)
test.show()

+---+----------+-------+--------------------+------+--------+----+---+----+
|dep|      date|lib_dep|             lib_reg|tx_pos|tx_incid|hosp|rea| pos|
+---+----------+-------+--------------------+------+--------+----+---+----+
|  1|18/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|19/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|20/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|21/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   4|  0|null|
|  1|22/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   8|  1|null|
|  1|23/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  17|  3|null|
|  1|24/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  22|  3|null|
|  1|25/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  29|  6|null|
|  1|26/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  33|  6|null|
|  1|27/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  49|  9|null|
|  1|28/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  53| 12|null|
|  1|29/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  55| 13|null|
|  1|30/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  67| 19|null|
|  1|31/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  72| 16|null|
|  1|01/04/2020|    Ain|Auvergne et Rhône...|  null|    null|  92| 28|null|
|  1|02/04/2020|    Ain|Auvergne et Rhône...|  null|    null| 105| 33|null|
|  1|03/04/2020|    Ain|Auvergne et Rhône...|  null|    null| 100| 31|null|
|  1|04/04/2020|    Ain|Auvergne et Rhône...|  null|    null| 109| 32|null|
|  1|05/04/2020|    Ain|Auvergne et Rhône...|  null|    null| 112| 30|null|
|  1|06/04/2020|    Ain|Auvergne et Rhône...|  null|    null| 115| 30|null|
+---+----------+-------+--------------------+------+--------+----+---+----+
only showing top 20 rows

In [41]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

TypeError: 'DataFrameReader' object is not callable

## 1.2) lecture avec les entêtes
Recharger le même fichier mais cette fois-ci utilisez l'option header pour rajouter les noms de colonnes à votre df.

Appelez l'attribut dtypes et comparez la sortie avec celle de la lecture brute.

In [101]:
test = spark.read.format('csv').options(header=True).load(path)
test.dtypes

[('dep;date;lib_dep;lib_reg;tx_pos;tx_incid;hosp;rea;pos', 'string')]

SyntaxError: unexpected character after line continuation character (4135978901.py, line 1)

## 1.3) lecture avec les types détectés automatiquement
Recharger le fichier avec  l'option inferShema.

L'option 'inferSchema' permet de transformer les colonnes en types plus précis : entier  / booléens / chaines de caractères... bien sûr spark trouve les types uniquement si le fichier d'origine permet de les trouver de manière simple

In [102]:
test = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
test.dtypes

[('dep;date;lib_dep;lib_reg;tx_pos;tx_incid;hosp;rea;pos', 'string')]

## 1.4) lecture avec schéma
Il vous permet d'afficher le schéma de votre df, avec pour chaque colonne son nom, son type, et si elle accepte les valeurs nulles ou non.

In [103]:
test.schema

StructType(List(StructField(dep;date;lib_dep;lib_reg;tx_pos;tx_incid;hosp;rea;pos,StringType,true)))

Vous avez aussi la méthode printSchema() qui permet d'afficher le shéma du df de manière plus lisible.

In [100]:
test.printSchema()

root
 |-- dep: string (nullable = true)
 |-- date: string (nullable = true)
 |-- lib_dep: string (nullable = true)
 |-- lib_reg: string (nullable = true)
 |-- tx_pos: string (nullable = true)
 |-- tx_incid: string (nullable = true)
 |-- hosp: string (nullable = true)
 |-- rea: string (nullable = true)
 |-- pos: string (nullable = true)

# 2) écriture de la dataframe sur le disque

## 2.1) choix du format : csv

In [132]:
test.write.format("csv").save("")

IllegalArgumentException: Can not create a Path from an empty string

## 2.2) choix du format : parquet

In [119]:
test.write.format("parquet").save("./parquet")

AnalysisException: Attribute name "dep;date;lib_dep;lib_reg;tx_pos;tx_incid;hosp;rea;pos" contains invalid character(s) among " ,;{}()\n\t=". Please use alias to rename it.;

## 2.3) choix du format : json

In [134]:
df.write.save("./csv_data", format="csv")

22/11/10 09:28:40 ERROR TransportClient: Failed to send RPC RPC 5442206741629275941 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
22/11/10 09:28:40 WARN BlockManagerMasterEndpoint: Error trying to remove broadcast 295 from block manager BlockManagerId(0, 172.19.0.7, 44215, None)
java.io.IOException: Failed to send RPC RPC 5442206741629275941 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:363)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:340)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:577)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:551)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:490)
	at io.netty.util.concurrent.DefaultPromise.setValue0(DefaultPromise.java:615)
	at io.netty.util.concurrent.DefaultPromise.setFailure0(DefaultPromise.java:608)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:117)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:993)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	... 12 more
22/11/10 09:28:40 ERROR TransportClient: Failed to send RPC RPC 7232903952878449116 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
22/11/10 09:28:40 WARN BlockManagerMasterEndpoint: Error trying to remove broadcast 292 from block manager BlockManagerId(0, 172.19.0.7, 44215, None)
java.io.IOException: Failed to send RPC RPC 7232903952878449116 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:363)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:340)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:577)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:551)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:490)
	at io.netty.util.concurrent.DefaultPromise.setValue0(DefaultPromise.java:615)
	at io.netty.util.concurrent.DefaultPromise.setFailure0(DefaultPromise.java:608)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:117)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:993)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	... 12 more
22/11/10 09:28:40 ERROR TransportClient: Failed to send RPC RPC 8047673392509143989 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
22/11/10 09:28:40 WARN BlockManagerMasterEndpoint: Error trying to remove broadcast 294 from block manager BlockManagerId(0, 172.19.0.7, 44215, None)
java.io.IOException: Failed to send RPC RPC 8047673392509143989 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:363)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:340)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:577)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:551)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:490)
	at io.netty.util.concurrent.DefaultPromise.setValue0(DefaultPromise.java:615)
	at io.netty.util.concurrent.DefaultPromise.setFailure0(DefaultPromise.java:608)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:117)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:993)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	... 12 more
22/11/10 09:28:40 ERROR TransportClient: Failed to send RPC RPC 5727239859085570813 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
22/11/10 09:28:40 WARN BlockManagerMasterEndpoint: Error trying to remove broadcast 293 from block manager BlockManagerId(0, 172.19.0.7, 44215, None)
java.io.IOException: Failed to send RPC RPC 5727239859085570813 to /172.19.0.7:43332: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.TransportClient$RpcChannelListener.handleFailure(TransportClient.java:363)
	at org.apache.spark.network.client.TransportClient$StdChannelListener.operationComplete(TransportClient.java:340)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:577)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:551)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:490)
	at io.netty.util.concurrent.DefaultPromise.setValue0(DefaultPromise.java:615)
	at io.netty.util.concurrent.DefaultPromise.setFailure0(DefaultPromise.java:608)
	at io.netty.util.concurrent.DefaultPromise.tryFailure(DefaultPromise.java:117)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetFailure(AbstractChannel.java:993)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1367)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(AbstractChannelHandlerContext.java:717)
	at io.netty.channel.AbstractChannelHandlerContext.invokeWriteAndFlush(AbstractChannelHandlerContext.java:764)
	at io.netty.channel.AbstractChannelHandlerContext$WriteTask.run(AbstractChannelHandlerContext.java:1104)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	... 12 more

In [40]:
!ls ./data_velo/Villes/

csv  parquet  ville  ville_1.csv

## 2.4) lecture de différents formats
Vous pouvez choisir de lire le df sous un format ou un autre en utilisant l'argument format dans la fonction spark.read.load

In [41]:
spark.read.load("./json_data", format="json")

DataFrame[age: bigint, casseur: boolean, home: string, id: bigint, salaire: double, sexe: string, sportif: boolean, sportivite: double, statut: string, travail: string, velo_perf_minimale: double, vitesse_a_pied: double, vitesse_a_velo: double]

In [76]:
spark.read.load(path, format="csv").count()

96355

# 3) Calculer des résultats : les actions

## 3.1) nombre de lignes : count
Chargez les fichiers csv contenus dans le dossiers ./data_velo/Cyclistes/ dans un df nommé cyclistes, puis comptez les lignes du dataframe obtenu.

In [111]:
!ls ."hdfs://namenode:9000/Bigdata/covid.csv"

ls: cannot access '.hdfs://namenode:9000/Bigdata/covid.csv': No such file or directory

In [112]:
spark.read.load(path, format ('csv')).count()

96355

In [123]:

#df   = spark.read.load(path, format="csv")

test = spark.read.format('csv').options(header=True,sep = ";").load(path)

In [124]:
test.dtypes

[('dep', 'string'),
 ('date', 'string'),
 ('lib_dep', 'string'),
 ('lib_reg', 'string'),
 ('tx_pos', 'string'),
 ('tx_incid', 'string'),
 ('hosp', 'string'),
 ('rea', 'string'),
 ('pos', 'string')]

Afficher le schéma de ce nouveau df

In [125]:
test.printSchema()

root
 |-- dep: string (nullable = true)
 |-- date: string (nullable = true)
 |-- lib_dep: string (nullable = true)
 |-- lib_reg: string (nullable = true)
 |-- tx_pos: string (nullable = true)
 |-- tx_incid: string (nullable = true)
 |-- hosp: string (nullable = true)
 |-- rea: string (nullable = true)
 |-- pos: string (nullable = true)

Affichez 10 lignes du df.

In [126]:
test.show(10)

+---+----------+-------+--------------------+------+--------+----+---+----+
|dep|      date|lib_dep|             lib_reg|tx_pos|tx_incid|hosp|rea| pos|
+---+----------+-------+--------------------+------+--------+----+---+----+
|  1|18/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|19/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|20/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   2|  0|null|
|  1|21/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   4|  0|null|
|  1|22/03/2020|    Ain|Auvergne et Rhône...|  null|    null|   8|  1|null|
|  1|23/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  17|  3|null|
|  1|24/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  22|  3|null|
|  1|25/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  29|  6|null|
|  1|26/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  33|  6|null|
|  1|27/03/2020|    Ain|Auvergne et Rhône...|  null|    null|  49|  9|null|
+---+----------+-------+--------------------+------+--------+----+---+----+
only showing top 10 rows

## 3.2) moyenne : agg + colonne + mean
A l'aide de la méthode agg(), calculez la moyenne sur la colonne vitesse.

Vous pouvez récuperer le résultat avec la méthode collect().

In [220]:
test.agg({'hosp':'mean'}).show()

+------------------+
|         avg(hosp)|
+------------------+
|177.33182651991615|
+------------------+

## 3.3) quantile approximatifs pour gagner du temps de calcul
En statistiques et en théorie des probabilités, les quantiles sont les valeurs qui divisent un jeu de données en intervalles contenant le même nombre de données. Il y a donc un quantile de moins que le nombre de groupes créés. Ainsi les quartiles sont les trois quantiles qui divisent un ensemble de données en quatre groupes de taille égale.

La méthode approxQuantile permet de laisser une tolérance a l'erreur ce qui réduit le temps de calul sur d'énormes jeux de données.

In [131]:
import time
df.printSchema()

root
 |-- dep;date;lib_dep;lib_reg;tx_pos;tx_incid;hosp;rea;pos: string (nullable = true)

In [51]:
def calcul_quantile(df, erreur_acceptee):
    debut            = time.time()
    colonne          = "vitesse"
    quantiles_voulus = [0.25, 0.50, 0.75]
    resultat         =  df.approxQuantile(colonne, quantiles_voulus , erreur_acceptee )
    fin              = time.time()
    delais           = fin -debut
    print ("delais =%.2f sec, quantiles = %s"%(delais, resultat))

In [52]:
calcul_quantile(df, 0.05)

delais =5.53 sec, quantiles = [0.030000000000000006, 0.2944550644296354, 0.5931162118010243]

In [53]:
calcul_quantile(df, 0.01)

delais =4.78 sec, quantiles = [0.030000000000000006, 0.2944550644296354, 0.6295531740219638]

In [54]:
calcul_quantile(df, 0)

delais =15.12 sec, quantiles = [0.030000000000000006, 0.3283952876721612, 0.6295531740219638]

## Reload de la dataframe
Chargez le fichier villes dans un df nommé villes.

In [4]:
villes =spark.read.load("./data_velo/villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

## 3.4) corrélation
En probabilités et en statistique, la corrélation entre plusieurs variables aléatoires ou statistiques est une notion de liaison qui contredit leur indépendance.

Calculez la corrélation entre les colonnes age et vitesse_a_velo.

In [56]:

villes.corr(col1= 'age', col2= 'vitesse_a_velo')

-0.06411845578664936

## 3.5) covariance
Calculez la covariance entre les colonnes age et vitesse_a_velo.

In [57]:

villes.cov ('age', 'vitesse_a_velo')

-1.5721945755314064

## 3.6) sample

In [58]:
villes_1_pct = villes.sample(False, 0.1)

In [59]:
villes_1_pct.count()

6

In [60]:
villes.exceptAll(villes_1_pct).count()

44

## 3.7) filter 
La méthode filter() permet le df selon certaines valeurs dans les colonnes.

Utilisez cette méthode pour récuperer seulement les lignes avec le sexe féminin.

In [61]:
villes.filter("sexe ='F'").show()

+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
| id|     vitesse_a_pied|     vitesse_a_velo|               home|            travail|sportif|casseur|              statut|           salaire|sexe|age|         sportivite|velo_perf_minimale|
+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|  3|               0.02|               0.05|(lon:3.79 lat:3.81)|(lon:0.20 lat:0.21)|  false|  false|technicien_de_sur...| 20026.72646423192|   F| 20|                0.1|               0.4|
|  4|               0.02|               0.05|(lon:3.39 lat:0.93)|(lon:0.58 lat:0.20)|  false|  false|technicien_de_sur...|15214.584161640825|   F| 35|                0.1|               0.4|
|  6|               0.02|               0.05|(lon:0.44 lat:1.45)|(lon:1.85 lat:0.04)|  false|  false|          professeur|30852.120709809133|   F| 79|                0.1|               0.4|
|  7| 0.9726853575358816|  2.431713393839704|(lon:0.18 lat:2.60)|(lon:2.16 lat:2.28)|  false|  false|             employe| 54494.87538632937|   F| 46|  4.863426787679408|               0.4|
|  9| 0.6295531740219638| 1.5738829350549093|(lon:2.16 lat:2.32)|(lon:3.44 lat:3.54)|  false|  false|technicien_de_sur...|11799.927798039249|   F| 65| 3.1477658701098186|               0.4|
| 11|0.25214291732243804|  0.630357293306095|(lon:0.28 lat:2.44)|(lon:1.28 lat:1.40)|  false|  false|             employe|  53716.3729157698|   F| 21|   1.26071458661219|               0.4|
| 14| 0.3733552690301726| 0.9333881725754316|(lon:3.87 lat:3.74)|(lon:0.41 lat:0.36)|  false|  false|               cadre|  74308.6319691613|   F| 34|  1.866776345150863|               0.4|
| 16|               0.02|               0.05|(lon:1.37 lat:1.09)|(lon:0.45 lat:1.77)|  false|  false|             éboueur|21040.289070523115|   F| 32|                0.1|               0.4|
| 17| 1.0608622097751907| 2.6521555244379766|(lon:3.68 lat:0.79)|(lon:2.67 lat:3.66)|  false|  false|technicien_de_sur...|16946.365288912493|   F| 16|  5.304311048875953|               0.4|
| 18|               0.02|               0.05|(lon:0.51 lat:2.32)|(lon:1.01 lat:0.40)|  false|  false|technicien_de_sur...|22099.145463261266|   F| 24|                0.1|               0.4|
| 22| 0.5931162118010243| 1.4827905295025607|(lon:1.41 lat:2.43)|(lon:1.49 lat:1.44)|  false|  false|             employe|38906.393030229774|   F| 36|  2.965581059005121|               0.4|
| 23| 0.1431743884246346| 0.3579359710615865|(lon:0.80 lat:2.82)|(lon:0.34 lat:3.77)|  false|  false|             employe|29085.686473822872|   F| 78| 0.7158719421231731|               0.4|
| 27| 0.4804764997211946| 1.2011912493029866|(lon:0.78 lat:2.62)|(lon:2.30 lat:0.01)|  false|  false|technicien_de_sur...|18234.071705216207|   F| 59|  2.402382498605973|               0.4|
| 29|0.07468040314496042|0.18670100786240107|(lon:3.75 lat:3.12)|(lon:2.30 lat:3.92)|  false|  false|          reserviste|29515.863019061188|   F| 67| 0.3734020157248021|               0.4|
| 30| 0.5525664880322532| 1.3814162200806333|(lon:1.08 lat:3.77)|(lon:0.72 lat:3.32)|  false|  false|             employe|27046.171282769843|   F| 81| 2.7628324401612665|               0.4|
| 34|0.03887047976999849|0.09717619942499622|(lon:2.83 lat:0.56)|(lon:3.25 lat:1.60)|  false|  false|technicien_de_sur...|17175.758356245642|   F| 21|0.19435239884999245|               0.4|
| 42| 0.6992238313299156| 1.7480595783247892|(lon:3.80 lat:3.99)|(lon:2.13 lat:1.65)|  false|  false|             employe| 19383.17526928032|   F| 21| 3.4961191566495784|               0.4|
| 47|0.18444538804220728| 0.4611134701055182|(lon:1.74 lat:3.62)|(lon:2.96 lat:2.23)|  false|  false|          reserviste| 30798.10624851897|   F| 58| 0.9222269402110364|               0.4|
| 48| 0.5652688776055729|  1.413172194013932|(lon:3.51 lat:2.24)|(lon:0.27 lat:1.34)|  false|  false|             éboueur|12133.681930505132|   F| 56| 2.8263443880278643|               0.4|
| 49| 0.9920385410084079|   2.48009635252102|(lon:0.13 lat:2.04)|(lon:1.35 lat:0.63)|  false|  false|technicien_de_sur...| 9511.945356442959|   F| 58|   4.96019270504204|               0.4|
+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
only showing top 20 rows

In [62]:
villes =spark.read.load("./data_velo/villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

# 4) Transformer la données : les transformations!

## Transformations : demandent à être suivi par un collect ou une action (count par exemple)

## 4.1) obtenir des statistiques sur les colonnes numériques
La méthode describe() permet de calculer les statistiques récapitulatives d'une ou plusieurs colonnes numériques dans un df. Si le nom des colonnes n'est pas spécifié, la méthode calculera des statistiques récapitulatives pour toutes les colonnes numériques présentes dans le df.

Afficher les statistiques de la colonne age.

In [63]:
villes.describe(["sexe", "age"]).describe().collect()

[Row(summary='count', summary='5', sexe='3', age='5'),
 Row(summary='mean', summary=None, sexe='50.0', age='43.43979797464467'),
 Row(summary='stddev', summary=None, sexe='NaN', age='27.13153036418277'),
 Row(summary='min', summary='count', sexe='50', age='16'),
 Row(summary='max', summary='stddev', sexe='H', age='83')]

## 4.2) groupby
La méthode groupBy() suivie de la methode agg() permet de grouper le df selon les catgories d'une ou plusieurs colonnes pour faire des calculs sur ces catégories.

Calculez la moyenne de la colonnes sportivité selon le sexe des personnes.

In [64]:
villes.groupBy('sexe').agg({"sportivite":'mean'}).show()

+----+------------------+
|sexe|   avg(sportivite)|
+----+------------------+
|   F|1.8410619134680517|
|   H|1.6356186755623958|
+----+------------------+

Calculez la moyenne de la colonne age et la valeur max de la colonne sportivité par sexe.

In [65]:
villes.groupBy('sexe').agg({"age":'mean' , "sportivite" :'max'}).show()

+----+-----------------+------------------+
|sexe|  max(sportivite)|          avg(age)|
+----+-----------------+------------------+
|   F|5.304311048875953|46.095238095238095|
|   H|7.814024407120282| 50.06896551724138|
+----+-----------------+------------------+

Calculez la moyenne des colonnes vitesse_a_pied et vitesse_a_velo par sexe.

In [66]:
villes.groupBy('sexe').agg({"vitesse_a_pied":'mean' , "vitesse_a_velo" :'mean'}).show()

+----+-------------------+-------------------+
|sexe|avg(vitesse_a_velo)|avg(vitesse_a_pied)|
+----+-------------------+-------------------+
|   F| 0.9205309567340259|0.36821238269361034|
|   H| 1.3084949404499162| 0.4906856026687184|
+----+-------------------+-------------------+

## 4.3) summary 
La méthode summary() permet des faire des calculs statistiques de base sur toutes les colonnes du df.

In [67]:
villes.summary("count", "max").collect()

[Row(summary='count', id='50', vitesse_a_pied='50', vitesse_a_velo='50', home='50', travail='50', statut='50', salaire='50', sexe='50', age='50', sportivite='50', velo_perf_minimale='50'),
 Row(summary='max', id='51', vitesse_a_pied='2.344207322136085', vitesse_a_velo='6.251219525696226', home='(lon:3.90 lat:0.62)', travail='(lon:3.91 lat:3.22)', statut='éboueur', salaire='148702.7189509448', sexe='H', age='83', sportivite='7.814024407120282', velo_perf_minimale='0.4')]

## 4.4) union de dataframe

#### ajouter les colonnes les unes à côté des autres : join

In [68]:
villes.join(villes, on="id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

#### ajouter les lignes les unes sous les autres : union

In [69]:
villes.unionByName(villes).count()

100

## 4.5) filtre

In [70]:
villes.where(villes.sexe=="F").count()

21

## 4.6) concaténation de colonne : F.concat

In [5]:
from pyspark.sql.types import *
from pyspark.sql       import functions as F

Nous allons ici reprendre le df cyclistes.

Utiliser les méthodes withColumn() et F.concat() pour ajouter une colonne au df qui contiendra la concatenation des valeurs des colonnes id et sur_velo.

In [6]:
path = "./data_velo/Cyclistes/*.csv" 
tous_les_cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
tous_les_cyclistes.count()
tous_les_cyclistes.withColumn("id_sur_velo", F.concat(tous_les_cyclistes.id,  tous_les_cyclistes.sur_velo)).first()

Row(id=12, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False', id_sur_velo='12false')

# 5) udf 
Il est possible d'enregistrer des fonctions python que l'on écrit nous même pour les appliquer sur une colonne d'une dataframe, c'est ce qu'on appelle les udf, pour User Defined Functions

In [73]:
from pyspark.sql.types     import *
from pyspark.sql.functions import udf

@udf(returnType = FloatType())
def cube(colonne):
    return colonne*colonne

In [74]:
villes.select(cube("salaire")).show()

+-------------+
|cube(salaire)|
+-------------+
|1.82702162E10|
|  4.0106976E8|
| 2.31483568E8|
| 3.32549088E8|
|  9.5185338E8|
| 2.96969139E9|
| 1.12880461E9|
| 1.39238304E8|
|  1.0977216E9|
|  2.8854487E9|
|  6.4748621E8|
| 1.22958438E9|
|  5.5217725E9|
| 2.57463706E9|
|  4.4269376E8|
| 2.87179296E8|
| 4.88372224E8|
|  6.9554765E9|
|  6.1511916E9|
|   5.757398E9|
+-------------+
only showing top 20 rows

In [75]:
villes.select(cube(villes.salaire)).show()

+-------------+
|cube(salaire)|
+-------------+
|1.82702162E10|
|  4.0106976E8|
| 2.31483568E8|
| 3.32549088E8|
|  9.5185338E8|
| 2.96969139E9|
| 1.12880461E9|
| 1.39238304E8|
|  1.0977216E9|
|  2.8854487E9|
|  6.4748621E8|
| 1.22958438E9|
|  5.5217725E9|
| 2.57463706E9|
|  4.4269376E8|
| 2.87179296E8|
| 4.88372224E8|
|  6.9554765E9|
|  6.1511916E9|
|   5.757398E9|
+-------------+
only showing top 20 rows

In [76]:
villes.select(cube("salaire")).collect()
#villes.withColumn("salaire",cube("salaire")).collect()

[Row(cube(salaire)=18270216192.0),
 Row(cube(salaire)=401069760.0),
 Row(cube(salaire)=231483568.0),
 Row(cube(salaire)=332549088.0),
 Row(cube(salaire)=951853376.0),
 Row(cube(salaire)=2969691392.0),
 Row(cube(salaire)=1128804608.0),
 Row(cube(salaire)=139238304.0),
 Row(cube(salaire)=1097721600.0),
 Row(cube(salaire)=2885448704.0),
 Row(cube(salaire)=647486208.0),
 Row(cube(salaire)=1229584384.0),
 Row(cube(salaire)=5521772544.0),
 Row(cube(salaire)=2574637056.0),
 Row(cube(salaire)=442693760.0),
 Row(cube(salaire)=287179296.0),
 Row(cube(salaire)=488372224.0),
 Row(cube(salaire)=6955476480.0),
 Row(cube(salaire)=6151191552.0),
 Row(cube(salaire)=5757398016.0),
 Row(cube(salaire)=1513707392.0),
 Row(cube(salaire)=845977152.0),
 Row(cube(salaire)=15607006208.0),
 Row(cube(salaire)=279298720.0),
 Row(cube(salaire)=658956352.0),
 Row(cube(salaire)=332481376.0),
 Row(cube(salaire)=11568824320.0),
 Row(cube(salaire)=871186176.0),
 Row(cube(salaire)=731495360.0),
 Row(cube(salaire)=22112497664.0),
 Row(cube(salaire)=1202230528.0),
 Row(cube(salaire)=423060096.0),
 Row(cube(salaire)=295006688.0),
 Row(cube(salaire)=1184019968.0),
 Row(cube(salaire)=229316384.0),
 Row(cube(salaire)=4948908544.0),
 Row(cube(salaire)=880376512.0),
 Row(cube(salaire)=993021504.0),
 Row(cube(salaire)=332946784.0),
 Row(cube(salaire)=155353856.0),
 Row(cube(salaire)=375707488.0),
 Row(cube(salaire)=421229280.0),
 Row(cube(salaire)=454536128.0),
 Row(cube(salaire)=5381703680.0),
 Row(cube(salaire)=596220544.0),
 Row(cube(salaire)=948523328.0),
 Row(cube(salaire)=147226240.0),
 Row(cube(salaire)=90477104.0),
 Row(cube(salaire)=988872128.0),
 Row(cube(salaire)=580938816.0)]

# 6)	Etude de cas : analyse des fichiers de logs des cyclistes

In [7]:
from pyspark.sql.types import *
from pyspark.sql       import functions as F
from pyspark.sql.types     import *
from pyspark.sql.functions import udf

## 6.1)  Charger la donnée dans un df nommé cycliste

In [8]:

cyclistes =spark.read.load("./data_velo/Cyclistes/",format = "csv", header=True, inferSchema="True")

## 6.2) vérifier le nombre de cycles

Comptez le nombre d'id uniques.

In [9]:
cyclistes.select("id").distinct().count()

50

## 6.3) transformer les timestamp en date

Voici une fonction qui permert de récuperer la date sous forme de chaîne de caractère dans la colonne timestamps pour la transformer en date exploitable en tant que telle.

Créez une nouvelle colonne dans votre df cycliste stockant le résultat de cette fonction.

In [10]:
from pyspark.sql.types import TimestampType

@udf(returnType = TimestampType())
def transform_timestamp_in_date(timestamp):
    from datetime import datetime
    return datetime.strptime(str(timestamp), "%Y-%m-%d %H:%M:%S")

In [116]:
cyclistes.withColumn("Timestamp2",transform_timestamp_in_date(cyclistes['timestamp'])).show()

+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
| id|          timestamp|sur_velo| velo|             vitesse|           position|destination_finale|         Timestamp2|
+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
| 12|2018-01-01 00:01:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:01:00|
| 12|2018-01-01 00:02:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:02:00|
| 12|2018-01-01 00:03:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:03:00|
| 12|2018-01-01 00:04:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:04:00|
| 12|2018-01-01 00:05:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:05:00|
| 12|2018-01-01 00:06:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:06:00|
| 12|2018-01-01 00:07:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:07:00|
| 12|2018-01-01 00:08:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:08:00|
| 12|2018-01-01 00:09:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:09:00|
| 12|2018-01-01 00:10:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:10:00|
| 12|2018-01-01 00:11:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:11:00|
| 12|2018-01-01 00:12:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:12:00|
| 12|2018-01-01 00:13:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:13:00|
| 12|2018-01-01 00:14:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:14:00|
| 12|2018-01-01 00:15:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:15:00|
| 12|2018-01-01 00:16:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:16:00|
| 12|2018-01-01 00:17:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:17:00|
| 12|2018-01-01 00:18:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:18:00|
| 12|2018-01-01 00:19:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:19:00|
| 12|2018-01-01 00:20:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:20:00|
+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
only showing top 20 rows

## vérifier les comptes

## 6.4) Durée des trajets par id.

A partir d'ici, il s'agit de traiter votre donnée pour récupérer la durée de chaque trajet effectué par chaque id.

1) trouvez les dates min/max par état de sur_velo, puis par id ET par état de sur_velo.

In [137]:
cyclistes.groupby(["id","sur_velo"]).agg(F.min(cyclistes["timestamp"]) , F.max(cyclistes["timestamp"])).sort("id").show()

+---+--------+-------------------+-------------------+
| id|sur_velo|     min(timestamp)|     max(timestamp)|
+---+--------+-------------------+-------------------+
|  2|    true|2018-01-01 12:33:00|2018-01-31 20:02:00|
|  2|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  3|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  3|    true|2018-01-06 06:24:00|2018-01-28 19:33:00|
|  4|    true|2018-01-06 09:48:00|2018-01-28 15:19:00|
|  4|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  5|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  5|    true|2018-01-06 12:35:00|2018-01-28 16:04:00|
|  6|    true|2018-01-01 07:07:00|2018-01-30 20:01:00|
|  6|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  7|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  7|    true|2018-01-01 06:33:00|2018-01-31 18:43:00|
|  8|    true|2018-01-06 05:14:00|2018-01-28 19:44:00|
|  8|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
|  9|    true|2018-01-06 06:54:00|2018-01-28 14:03:00|
|  9|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
| 10|    true|2018-01-01 08:35:00|2018-01-30 17:32:00|
| 10|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
| 11|    true|2018-01-01 07:48:00|2018-01-31 14:05:00|
| 11|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
+---+--------+-------------------+-------------------+
only showing top 20 rows

In [11]:
cyclistes.groupby(["sur_velo"]).agg(F.min(cyclistes["timestamp"]) , F.max(cyclistes["timestamp"])).show()

+--------+-------------------+-------------------+
|sur_velo|     min(timestamp)|     max(timestamp)|
+--------+-------------------+-------------------+
|    true|2018-01-01 01:47:00|2018-01-31 21:32:00|
|   false|2018-01-01 00:01:00|2018-02-01 00:00:00|
+--------+-------------------+-------------------+

## 6.5) détecter les changements d'états "sur un vélo" ou pas : window et lag
2) Le résultat n'est pas trés pertinent, il faudrait plutôt le début et la fin de chaque trajet par id. Pour cela, il faudrait détecter les changements d'états "sur_vélo".
Utilisez la classe Window() et la fonction F.lag() pour créer une nouvelle colonne que vous appellerez changement, contenant un 0 si l'état précedent de sur_velo est le même et un 1 si l'état vient de changer (fonction changement() ci-dessous) pour chaque id.

In [ ]:
from pyspark.sql.functions import udf

In [12]:
@udf(returnType = IntegerType())
def changement(etat_actuel, etat_precedent):
    """
    Détecte si les deux états sont différent.
    
    Parametres :
        etat_actuel : valeur sur la ligne courante
                      renvoyée par F.lag (0)
        etat_precedent : valeur sur la ligne précédente
                      renvoyée par F.lag(1)
    Return: 0 s'ils sont égaux, 1 s'il y a une différence
    """
    if etat_precedent == None:
        return 0
    if etat_precedent == etat_actuel:
        return 0
    if etat_actuel != etat_precedent:
        return 1

In [13]:
from pyspark.sql.window import Window
w = Window.orderBy(["id", "date"])

collecter les données d'un id et verifier sa position lors des changements d'etats

SyntaxError: invalid syntax (462676745.py, line 1)

## 6.6) somme partielle par sous groupe : windows
Grâce à la fonction window appliquez la fonction somme() sur la colonne changement pour numeroter les trajets pour chaque id et stocker les résulats dans une nouvelle colonne appelée numero_de_trajet.


[windows fonctions](https://www.quantmetry.com/blog/window-functions-spark/)

In [ ]:
@udf(returnType = IntegerType())
def somme(indice_actuel, indice_precedent):
    if indice_precedent == None:
        return 0
    return indice_actuel + indice_precedent

## 6.7) Calculer la durée du trajet

Il suffit maintenant de repêter la première étape, c'est a dire récupérer la début et la fin de chaque trajet pour chaque id. Puis calculer la durée des trajets.

# 7) datavisualisation
Convertissez votre dataframe pyspark en dataframe pandas.

A l'aide de la librairie seaborn, réalisez un graphique en barre montrant la durée de tout les trajets.

Faire le même graphique mais cette fois-ci, faire en sorte qu'on puisse choisir un id et afficher seulement les trajets de cet id.

Sauvegardez votre dataset trajets au format csv dans le dossier data.